@charset utf-8;
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap);

/* Test */

/* * {
	border: 1px solid red;
} */

/* Default/mobile */

body {
	background: #fff;
	
	display: flex;
	flex-direction: column;
	
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	
	margin: 5vh 5vw 5vh 5vw;
}

a, a:visited {
	color: #444;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: 300;
}

h2 {
	font-size: 1.25em;
}
.projects ul, .socials ul {
	margin-left: -2.6em;
	list-style: none;
	text-align: center;	
}
.projects li {
	margin: 3em 0 3em 0;
}
.projects li img {
	width: 70vw;
	height: 70vw;
}
.projects li p {
	margin-left: 1em;
}
.projects li div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.pubs ul {
	list-style: circle;
	margin-left: -1.2em;
}
.pubs li {
	margin: .5em 0 .5em 0;
}

.socials {
	margin-top: 3em;
}

/* Tablet */

@media screen and (min-width: 768px) {
	body {
		flex-direction: row;
	}
	#centre {
		order: 2;
		max-width: 40em;
	}
	#left {
		order: 1;
		width: 10vw;
	}
	#right {
		order: 3;
		width: 10vw;
	}
	h1 {
		margin: 1.75em 0 1.5em 0;
	}
	h2 {
		margin-bottom: 0;
	}
	.projects ul li {
		text-align: left;
		margin: 3em 1em 3em 1em;
		display: flex;
	}
	.projects div p {
		font-size: 15px;
	}
	.projects li img {
		width: 150px;
		height: 150px;
		margin-right: 2.5em;
	}
	.projects li div {
		display: flex;
		justify-content: center;
		text-align: left;
	}
	.pubs li {
		margin-left: 0;
	}
}

/* Desktop */

@media screen and (min-width: 1250px) {
	
	body {
		margin-top: 8vh;
	}
	body::before, body::after {
  		position: absolute;  
		height: 8%;
		width: 100%;
		content: "";
		pointer-events: none;
	}
	body::before {
		top: 7.5vh;
		background: linear-gradient(to bottom,
			rgba(255,255,255, 1) 30%, 
			rgba(255,255,255, 0) 100%
		);		
	} 
	body::after {
		bottom: 4.5vh;	
		background: linear-gradient(to top,
			rgba(255,255,255, 1) 30%,
			rgba(255,255,255, 0) 100%
		);
	} 
	#centre::-webkit-scrollbar{
		display: none;
	}
	#centre {
		height: 85vh;
		max-width: 50em;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}
	#left {
		width: 25vw;
		margin: 3vh 3vw 5vh 0;
		border-right: 1px solid #ddd;
	}
	#right {
		width: 28vw;
	}
	
	.socials {
		margin-bottom: 6em;
	}

}