@charset utf-8;
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap);

/* Test */

/* * {
	border: 1px solid red;
} */

/* Default/mobile */

body {
	background: #fff;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	
	margin: 5vh 5vw 5vh 5vw;
}

a, a:visited {
	color: #444;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: 300;
}

h2 {
	font-size: 1.25em;
}
.projects ul, .socials ul {
	margin-left: -2.6em;
	list-style: none;
	text-align: center;	
}
.projects li {
	margin: 3em 0 3em 0;
}
.projects li img {
	width: 70vw;
	height: 70vw;
}
.projects li p {
	margin-left: 1em;
}
.projects li div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.pubs ul {
	list-style: circle;
	margin-left: -1.2em;
}
.pubs li {
	margin: .5em 0 .5em 0;
}

.socials {
	margin-top: 3em;
}

/* Indexes */
#index_header p {
	margin: 0 10% 0 10%;
}
#posts_preview, .socials ul {
	margin-left: -2.6em;
	list-style: none;
}
#posts_preview li {
	margin: 3em 0 3em 0;
	display: flex;
	align-items: center;
}
.post_info p {
	margin: .5em 0 .5em 0;
	font-size: .9.2em;
}
time {
	font-size: .8em;
	color: #bbb;
}
#posts_preview li>img {
	width: 30vw;
	height: 30vw;
	margin-right: 1em;
}
#posts_preview li>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* Article */

nav {
	position: absolute;
	top: 0;
	left: 2em;
	text-align: left;
	height: 1em;
}

nav a, nav a:visited {
	color: #888;
}

article {
	margin-top: 2em;
	font-size: 1.1em;
}
.title_card {
	margin-top: 2em;
}

.article_body {
	margin-top: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
}

.article_body p {
	margin: .5em 0;
}
.citation {
	font-size: .7em;
}
.note {
	order: 100;
	margin-top: -.5em;
	font-size: .9em;
} 
.note:first-of-type {
	margin-top: 2em;
}
.note > .ref {
	text-align: left;
	text-indent: -1em;
	margin-left: 1em;
} 
.ref sub {
	font-size: .85em;
}

/* Tablet */

@media screen and (min-width: 768px) {
	body {
		flex-direction: row;
	}
	#centre {
		order: 2;
		max-width: 40em;
	}
	#left {
		order: 1;
		width: 10vw;
	}
	#right {
		order: 3;
		width: 10vw;
	}
	h1 {
		margin: 1.75em 0 1.5em 0;
	}
	h2 {
		margin-bottom: 0;
	}
	.projects ul li {
		text-align: left;
		margin: 3em 1em 3em 1em;
		display: flex;
	}
	.projects div p {
		font-size: 15px;
	}
	.projects li img {
		width: 150px;
		height: 150px;
		margin-right: 2.5em;
	}
	.projects li div {
		display: flex;
		justify-content: center;
		text-align: left;
	}
	.pubs li {
		margin-left: 0;
	}
	
	/* Indexes */
	
	#index_header h1 {
		margin-bottom: 1.5em;
	}
	#index_header p {
		margin: 0 25% 0 25%;
	}
	#posts_preview li {
		margin: 3em 1em 3em 1em;
		align-items: flex-start;
	}
	#post_info p {
		font-size: 15px;
	}
	#posts_preview li>img {
		width: 15vw;
		height: 15vw;
		margin-right: 2.5em;
	}
	#posts_preview li>div {
		margin-top: 1em;
		display: flex;
		justify-content: center;
	}
	
	/* Articles */
	
	.article_body {
		display: block;
		margin-top: 3em;
		font-size: 1em;
		text-align: justify;
		width: 110%;
	}
	.article_body p {
		max-width: 68%;
		margin: 1em 0;
		line-height: 1.7em;
	}
	.note {
		margin: 0 0 0 -1em;
		font-size: .75em;
		line-height: 1.5em;
		position: absolute; 
		width: 27%;
		left: 72%;
		cursor: pointer;
		padding-left: 1em;
	}
	.note > .ref {
		margin-left: 0;	
	} 
	.ref_num {
		color: #444;
		font-size: .8em;
		font-weight: bold;
		vertical-align: super;
		line-height: 1.5em;
	}
	.note:first-of-type {	
		margin-top: 0;
	}
	.ref a {
        color: inherit;
    }
	.ref_inactive {
		display: inline;
	}
	.ref_active {
		display: none;
	}
	
}

/* Desktop */

@media screen and (min-width: 1250px) {
	
	body {
		margin-top: 8vh;
	}
	body::before, body::after {
  		position: absolute;  
		height: 5%;
		width: 100%;
		content: "";
		pointer-events: none;
	}
	body::before {
		top: 7.75vh;
		background: linear-gradient(to bottom,
			rgba(255,255,255, 1), 
			rgba(255,255,255, 0)
		);		
	} 
	body::after {
		bottom: 7vh;	
		background: linear-gradient(to top,
			rgba(255,255,255, 1),
			rgba(255,255,255, 0)
		);
	} 
	#centre::-webkit-scrollbar{
		display: none;
	}
	#centre {
		height: 85vh;
		max-width: 50em;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}
	#left {
		width: 25vw;
		margin: 3vh 3vw 5vh 0;
		border-right: 1px solid #ddd;
	}
	#right {
		width: 28vw;
	}
	
	.socials {
		margin-bottom: 6em;
	}
	
	/* Indexes */
	
	#posts_preview li {
		margin: 5em 1em 5em 1em;
	}
	#posts_preview li>img {
		width: 10em;
		height: 10em;
	}

}